* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg {
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("fulfilyourbusinessenvironmentalobligations_114770065.jpg");

  /* Full height */
  height: 80%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}

nav ul li {
  position: relative;
  margin: 0 10px;
  list-style: none;
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: none;
}

nav ul li a {
  text-decoration: solid;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.nav a:hover {
  color: rgb(191, 191, 191);
}

/* Footer */
.footer {
  background: #196d22;
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
}

.footer .row1 {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: rgb(255, 255, 255);
  font-size: 0.8em;
}

.footer .row1 a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.footer .row1 a:hover {
  color: #bababa;
}

.footer .row1 ul {
  width: 100%;
}

.footer .row1 ul li {
  display: inline-block;
  margin: 0px 30px;
  font-size: 1.2em;
}

.footer .row1 a i {
  font-size: 2em;
  margin: 0% 1%;
}

/* Define a grid container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Two columns with equal width */
  gap: 20px; /* Adjust the gap between columns */
  margin: 50px;
}

/* Style for the grid items (optional) */
.grid-item {
  padding: 10px;
  border: 1px solid #ccc;
}

h3{
  text-align: center;
  margin: 30px;
}

.para {
  text-align: center;
  margin: 80px;
}

li {
  justify-content: center;
}

.centered-image {
  width: 200px; /* Adjust the width as needed */
  display: block;
  margin: 0 auto; /* Center-align the image */
}

@media screen and (max-width: 480px) {
  body {
    width: 100%;
    margin: 0;
  }

  .bg{
    width: 100%;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
  }
  
  .nav img {
    margin-bottom: 6px;
    width: 100px;
    height: 100px;
    order: 1; /* Set the order to 1 to move it above nav ul */
  }
  
  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    order: 2; /* Set the order to 2 to move it below the img */
  }
  
  .nav ul li {
    display: block;
    margin-right: 5px; /* Adjust margin as needed */
  }
  
  .nav ul li a {
    text-decoration: none;
    color: white;
  }

  .grid-container {
    display: grid;
    grid-row: 1;
    grid-template-columns: 100%; /* Two columns with equal width */
    gap: 20px; /* Adjust the gap between columns */
    margin: 30px;
  }
  
  /* Style for the grid items (optional) */
  .grid-item {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .para {
    text-align: center;
    margin: 50px;
    font-size: 17px;
  }
  
  li {
    justify-content: center;
  }
  
  .centered-image {
    width: 200px; /* Adjust the width as needed */
    display: block;
    margin: 0 auto; /* Center-align the image */
  }

  .row1 ul {
    display: grid;
    grid-row: 1;
    grid-template-columns: 100%; /* Display a single column */
    padding: 0; /* Remove default padding */
    margin-top: 4%;
    margin-bottom: 6%;
  }

  .row1 ul li {
    text-align: left; /* Center the text inside list items */
    margin: 0; /* Add spacing between list items */
    padding-bottom: 6%;
  }

  .row1 ul li a{
    font-size: 16px;
  }

  .row1 p{
    font-size: 16px;
    text-align: center; /* Center the text inside list items */
    margin: 5%;
  }

  .row1 a i{
    padding-right: 5%;
    margin-bottom: 5%;
  }

}

@media (min-width: 481px) and (max-width: 1024px) {
  body {
    width: 100%;
    margin: 0;
}

.bg{
  width: 100%;
}

.nav {
  text-align:center;
  display: block;
  flex-direction: row;
  padding: 5px;
}

.nav img {
  margin-right: 10px;
  margin-bottom: 6px;
  width: 100px;
  height: 100px;
}

.nav ul {
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.nav ul li {
  display: block;
  margin-right: 2px;
  align-items: center;
}

.nav ul li a {
  text-decoration: none;
  color: white;
}

.grid-container {
  display: grid;
  grid-row: 2;
  grid-template-columns: 49% 49%; /* Two columns with equal width */
  grid-gap: 15px; /* Adjust the gap between columns */
  margin: 15px;
}

/* Style for the grid items (optional) */
.grid-item {
  padding: 10px;
  border: 1px solid #ccc;
}

.para {
  text-align: center;
  margin: 50px;
  font-size: 17px;
}

.grid-item li {
  justify-content: center;
  
}

.centered-image {
  width: 200px; /* Adjust the width as needed */
  display: block;
  margin: 0 auto; /* Center-align the image */
}

.row1 ul {
  justify-content: center;
  display: flex;
  flex-direction: row; /* Display a single column */
  padding: 0; /* Remove default padding */
}

.row1 ul li {
  text-align: center; /* Center the text inside list items */
  margin: 10px 0; /* Add spacing between list items */
}

.row1 ul li a{
  font-size: 16px;
}

.row1 p{
  font-size: 14px;
  text-align: center; /* Center the text inside list items */
  margin: 10px;
}

.row1 a i{
  font-size: 2em;
  margin: 0% 1%;
}
}

@media screen and (min-width: 1025px) {
  body {
      width: 100%;
      margin: 0;
  }

  /* Define a grid container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Two columns with equal width */
  gap: 20px; /* Adjust the gap between columns */
  margin: 50px;
}

/* Style for the grid items (optional) */
.grid-item {
  padding: 10px;
  border: 1px solid #ccc;
}

h3{
  text-align: center;
  margin: 30px;
}

.para {
  text-align: center;
  margin: 80px;
}

li {
  justify-content: center;
}
}